@model IList<TicketIndex>
@{
    ViewBag.Title = "Ticketing System";
    int reminder = Model.Count % 3;
    int result = Model.Count / 3 * 3;
}

<h1>@ViewBag.Title</h1>


@for (int i = 0; i < result; i += 3)
{
    <div class="row">
        @for (int j = 0; j < 3; j++)
        {
            @Html.Partial("_TicketIndex", Model[i + j])
        }
    </div>
}

@if (reminder != 0)
{
    <div class="row">
        @for (int i = result; i < Model.Count; i++)
        {
            @Html.Partial("_TicketIndex",Model[i])
        }
    </div>
}