@model TicketingSystem.Web.Models.CommentInput

@{
    Model.TicketId = Convert.ToInt32(ViewData["TicketId"]);
}

@Html.HiddenFor(m=>m.TicketId)

<div class="form-group">
    @Html.LabelFor(m=>m.Content)
    @Html.TextAreaFor(m => m.Content, new {rows="5", @class="form-control"})
    @Html.ValidationMessageFor(m => m.Content, "", new { @class="text-danger" })
</div>
