body {
    padding-top: 50px;
    padding-bottom: 20px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    background-color:azure;
}

tr:hover{
    background-color:antiquewhite;
    cursor:default;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 320px;
}


/*My Rules*/

.text-justify{
    text-align:justify;
}

.footer-text{
    color:dodgerblue;
    font-family:Rockwell;
}

.message{
    display:none;
}

.comment-small{
    width:16%;
}

#tblComments td{
    vertical-align:middle;
}

/*a:hover{
    text-decoration:none;
    font-style:oblique;
}*/

.violet{
    font-weight:bold;
    color:blueviolet!important;
}

    .violet:hover {
        text-decoration:underline;
        -moz-text-decoration-color: blueviolet!important;
        text-decoration-color: blueviolet!important;
    }

.alert .h4{
    color:inherit;
}